

body{

    font-family: Arial, Helvetica, sans-serif;

    height:400px;
}
    
    .img{display: flex;
justify-content: center;
align-items: center;
color: white;
font-weight: bold;
background-color: gray;
width:600px;
height: 300px;

}



.container{display:flex;
justify-content: space-between;
background:hsla(240, 44%, 59%, 0.979);
color:white;
}

.containertwo{display: flex;
gap:32px;
justify-content: center;
align-items: center;
background: hsla(240, 44%, 59%, 0.979);
width:auto;
height:600px;}

ul{display: flex;
background: hsla(240, 44%, 59%, 0.979);
display: flex;
justify-content: center;
width: 400px;
align-items: center;
margin-right:190px;
gap:16px;
list-style-type: none;}

h1{
width: 600px;
display: flex;
justify-content: center;
margin-left: 60px;

color: white; 
background-color:hsla(240, 44%, 59%, 0.979); } 

.website{display: flex;
flex-wrap: wrap;
font-size: 40px; 
color: white;
width: 600px;}

button{border-radius: 6px;
width:150px;
background-color: rgb(86, 86, 247)
;
font-weight: bold;
font-size: large;
height: 50px;
color:white;}

.soup{display: flex;
width:300px; 
flex-wrap: wrap;
font-weight: bold;}

.font{display: flex;
font-size:20px;}


